<!DOCTYPE html>
<html lang="en">
<head>
  <div class="nav">
  <div class="container">
    <ul>
      <li>Home</li>
      <li>About Us</li>
      <li>Contact Us</li>
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Take your long URL and shorten it</title>
</head>

<body>
 <%= yield %>
</body>
</div>
</html>